@model ICONEXT.Models.project

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>New Project</h1>
</div>

    <hr />
    
        <div class="row ">
            <div class=" col-md-6">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="ProjID" class="control-label"></label>
                        <input asp-for="ProjID" autocomplete="off" class="form-control" />
                        <span asp-validation-for="ProjID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" autocomplete="off" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Partner" class="control-label"></label>
                        <input asp-for="Partner"  class="form-control" />
                        <span asp-validation-for="Partner" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Customer" class="control-label"></label>
                        <input asp-for="Customer" autocomplete="off" class="form-control" />
                        <span asp-validation-for="Customer" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="StartDate" for="example-date-input" class="col-4 col-form-label">Start Date</label>
                        <div class="col-10">
                            <input asp-for="StartDate" class="form-control" type="date"  id="example-date-input">
                        </div>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>

                    <!--<div class="form-group">
        <label asp-for="Tasks" class="control-label"></label>
        <input asp-for="Tasks" class="form-control" />
        <span asp-validation-for="Tasks" class="text-danger"></span>
    </div>-->

                    <div class="text-center">
                        <div class="row">
                            <div class="text-center">
                                <div style="width: 12rem;">
                                    <input type="submit" value="Create New Project" class="btn btn-success" />
                                </div>
                            </div>

                            <div class="text-center">
                                <div class="btn btn-danger text-center" style="width: 11rem;">
                                    <a asp-action="Index">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
