@{
    ViewData["Title"] = "Day off";

}


<div class="text-center">
    <div class="card">
        <div class="card-body">
            <div class="form-group row">
                <div class="col-2"></div>
                <label for="staticEmail" class="col-sm-2 col-form-label" style="text-align:right">Holiday Name</label>
                <div class="col-sm-4">
                    <input type="text" placeholder="Happy new year">


                </div>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <label for="inputPassword" class="col-sm-2 col-form-label" style="text-align:right">Start Date</label>
                <div class="col-sm-4">
                    <input type="date" placeholder="2020-01-01">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <label for="inputPassword" class="col-sm-2 col-form-label" style="text-align:right">End Date</label>
                <div class="col-sm-4">
                    <input type="date" placeholder="2020-01-03">
                </div>
            </div>


            <div class="form-group row">
                <div class="col-2"></div>
                <label for="inputPassword" class="col-sm-2 col-form-label" style="text-align:right">Description</label>
                <div class="col-sm-4">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            
            <a class="btn btn-primary" href="Holiday">Confrim</a>
        </div>
    </div>




</div>
