@{
    ViewData["Title"] = "AddManpower";

}


<div>
    <h1>Add Manpower</h1>
    <div class="card">
        <div class="card-body">

            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">ID</label>
                        <input type="number" class="form-control" id="inputEmail4" placeholder="ID">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Title</label>
                        <select id="inputState" class="form-control">
                            <option selected>Select title</option>
                            <option>Mr.</option>
                            <option>Miss</option>

                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputEmail4">FristName - Surname</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="FristName - Surname">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Nickname</label>
                        <input type="text" class="form-control" id="inputPassword4" placeholder="Nickname">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Position</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Position">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Tel.</label>
                        <input type="tel" class="form-control" id="inputPassword4" placeholder="061-2044434">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">E-mail</label>
                        <input type="email" class="form-control" id="inputPassword4" placeholder="E-mail">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Check me out
                        </label>
                    </div>
                </div>
                <a href="Manpower" class="btn btn-primary">Confrim</a>
            </form>


        </div>
    </div>
</div>