@{
    ViewData["Title"] = "Add Position";

}


<div class="text-center">
    <div class="card">
        <div class="card-body">
            <div class="form-group row">
                <div class="col-2"></div>
                <label for="staticEmail" class="col-sm-2 col-form-label" style="text-align:right">ID Position</label>
                <div class="col-sm-4">
                    <input type="number" placeholder="">


                </div>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <label for="inputPassword" class="col-sm-2 col-form-label" style="text-align:right">Position</label>
                <div class="col-sm-4">
                    <input type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <label for="inputPassword" class="col-sm-2 col-form-label" style="text-align:right">Description</label>
                <div class="col-sm-4">
                    <input type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <label for="inputPassword" class="col-sm-2 col-form-label" style="text-align:right">Cost</label>
                <div class="col-sm-4">
                    <input type="text">
                </div>
            </div>


            <a class="btn btn-primary" href="Position">Confrim</a>
        </div>
    </div>




</div>
