@{
    ViewData["Title"] = "login";
    <link rel="stylesheet" href="~/css/login.css">
}

<div class="container text-center padding-box">
    <div class="row">
        <div class="col-6 padding-box">
            <div class="title">Sign in</div>
           
            <br>
            <input id="email" name="email" placeholder="Email" class="form-control" type="email"><br>
            <input id="password" name="password" placeholder="Password" class="form-control" type="password">
            <div class="subtitle">Forgot your password ?</div><br>
            <div class="sign-in">
                
                <button type="button" class="btn btn-primary">SIGN IN</button>
            </div>
        </div>
        <div class="col-6 bg-color padding-box">
            <div class="title">Hello!</div>
            <div class="padding-sub-title padding-between-hello">
                <div class="sub-title">
                    Enter your personal details and start journey with us
                </div>
            </div>
           
        </div>
    </div>
</div>
