@{
    ViewData["Title"] = "Manpower";
}

<div class="text-center">
    <select class="custom-select">
        <option selected>select manpower</option>
        <option value="1">Employee</option>
        <option value="2">Outsource</option>
    </select>
</div>
