@{
    ViewData["Title"] = "Project";
}

<div class="text-center">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Project ABC</h5>
            <a href="#" class="btn btn-primary">Edit</a>
        </div>
    </div>
    <button type="button" class="btn btn-success">Create New Project</button>
</div>



