@{
    ViewData["Title"] = "Team";
    <link rel="stylesheet" href="~/css/login.css">
}


<div class="title-project">Project Position with Cost</div>
<br>

<form>
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Position</th>
                <th scope="col">Description</th>
                <th scope="col">Cost/Month</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">PM</th>
                <td>Project Manager</td>
                <td>100,000</td>
            </tr>
            <tr>
                <th scope="row">PL</th>
                <td>Project Leader</td>
                <td>80,000</td>
            </tr>
            <tr>
                <th scope="row">PC</th>
                <td>Project Coordinator</td>
                <td>50,000</td>
            </tr>
            <tr>
                <th scope="row">SA</th>
                <td>System Analyst</td>
                <td>40,000</td>
            </tr>
            <tr>
                <th scope="row">PG</th>
                <td>Programmer</td>
                <td>20,000</td>
            </tr>
            <tr>
                <th scope="row">QA</th>
                <td>Quality Assurance</td>
                <td>20,000</td>
            </tr>
            <tr>
                <th scope="row">MA</th>
                <td>Maintenance and Support</td>
                <td>15,000</td>
            </tr>
        </tbody>
    </table>
</form>

               



